<!-- <nav class="navbar nav navbar-light bg">
  <div class="container-fluid">
    <h1 class="text-white"></h1>
    <div class="d-flex">
      <button
        (click)="addEmployeeClick()"
        class="btn btn-success"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav> -->

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Vara</th>
      <th scope="col">Processo</th>
      <th scope="col">Nome</th>
      <th scope="col">Data procedimento Ofício</th>
      <th scope="col">Tipo de ordem</th>
      <th scope="col">Escritório</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.vara }}</td>
      <td>{{ employee.processo }}</td>
      <td>{{ employee.nome }}</td>
      <td>{{ employee.datas }}</td>
      <td>{{ employee.tipo }}</td>
      <td>{{ employee.escritorio }}</td>
      <td>
        <button
          (click)="editEmployee(employee)"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-info"
        >
          Edit
        </button>
        <button
          (click)="deleteEmployee(employee.id)"
          class="btn btn-danger mx-3"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Vara </label>
            <input
              formControlName="vara"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Processo </label>
            <input
              formControlName="processo"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input
              formControlName="nome"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Data</label>
            <input
              formControlName="datas"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tipo</label>
            <input
              formControlName="tipo"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Escritorio</label>
            <input
              formControlName="escritorio"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="cancel"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          *ngIf="!isEditing"
          (click)="createEmployee()"
          type="button"
          class="btn btn-primary"
        >
          Add
        </button>
        <button
          *ngIf="isEditing"
          (click)="updateEmployee()"
          type="button"
          class="btn btn-primary"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
